/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-blue-dark: 211, 100%, 12%;
    --clr-blue-light: 210, 66%, 44%;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;

}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
figure,
picture {
    margin: 0; 
}

h1,
p {
    font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
    background-color: hsl(var(--clr-blue-dark));
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.wrapper {
    padding: clamp(1vw,1vw + 1rem,2rem);
}

.carousel-slider{
    width: min(85vw,1543px);
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-slider img{
    height: 501px;
    object-fit: cover;
    width: 100% ;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.flow >*:where(:not(:last-child)){
    margin-right: 0.4rem;
}

.meme-text {
    color: azure;
    font-size: 1.5rem;
    font-family: serif;
}

.dot-buttons >*{
    cursor: pointer;
}

.dot{
    height: 26px;
    aspect-ratio: 1;
    border: 5px solid hsl(var(--clr-blue-light));
    border-radius: 50%;
    background-color:hsl(var(--clr-blue-light));
}


.active {
    background-color: hsl(var(--clr-blue-dark));

}

