/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-grey: 204, 6%, 15%;
    --clr-blue-light: 210, 66%, 44%;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;

}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
figure,
picture {
    margin: 0; 
}

h1,
p {
    font-weight: 400;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
    background-color: hsl(var(--clr-grey));
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.flex {
    display: flex;
}

.text-left {
    width: 50%;
    margin-left: 0;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 1.5rem;
}

.wrapper {
    padding: clamp(1vw,1vw + 1rem,2rem);
    overflow: hidden;
}

.carousel-slider{
    width: min(85vw,1543px);
    border-radius: 0.3rem;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.carousel-slider img{
    scroll-snap-align: start;
    height: 501px;
    object-fit: cover;
    width: 100% ;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.flow >*:where(:not(:last-child)){
    margin-right: 0.4rem;
}

.meme-text {
    color: azure;
    font-size: 1.5rem;
    font-family: serif;
}

.dot{
    height: 3rem;
    aspect-ratio: 1;
    padding: 0.5rem;
}


  input {

    appearance: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 6px solid hsl(var(--clr-blue-light));
    background-color: hsl(var(--clr-blue-light));
  }

  label:hover{
    cursor: pointer;
  }

  input:checked {
    background-color: transparent;
  }


@keyframes move-text {
    from {
        transform: translateX(80%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.text-translate {
    animation: move-text 800ms ease-in-out;
}


@media (max-width:48rem){
    .controls {
        flex-direction: column-reverse;
        align-items: center;

    }
    .text-left {
        margin-top: 1.5rem;
        align-self: flex-start;
    }

}